*{
    box-sizing: content-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
    font-family: 'Rubik', sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

header{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
}

.container{
    border: 1px solid black;
    width: 1400px;
    margin: 0 auto;
    height: auto;
}

.header-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu nav ul{
    display: flex;
}

.header-menu nav ul li{
    margin-right: 40px;
}

.header-menu .last-li{
    margin: 0;
}

.header-menu__span{
    text-transform: capitalize;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.8rem;
    color: #4f5665;
}

.header-menu-buttons{
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.8rem;
}

.header-menu-buttons a b{
    color: #0b132a;
    margin-right: 30px;
}

.header-menu-buttons .menu-button__span{
    color: #f53855;
    padding: 8px 40px;
    border: 1px solid #f53855;
    border-radius: 50px;
}

.header-menu-buttons .menu-button__span:hover{
    color: white;
    background-color: #f53855;
}

.header-information{
    display: flex;
    justify-content: space-between;
    margin-top: 92px;
}

.header-information div h1{
    font-weight: 500;
    font-size: 5rem;
    line-height: 7rem;
    color: #0b132a;
    width: 35vw;
}

.header-information div h1 b{
    font-weight: 700;
}

.header-information div p{
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 3rem;
    color: #4f5665;
    width: 35vw;
    margin-top: 20px;
    margin-bottom: 50px;
}

.header-information .information-text__span{
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.5rem;
    color: white;
    padding: 15px 77px;
    background: #f53855;
    border-radius: 10px;
    box-shadow: 1px 36px 30px -9px rgba(245,56,85,0.68), 1px -6px 50px -4px rgba(245,56,85,0.35);
}
}

.header-information figure img{
    max-width: 611px;
    max-height: 382px;
    width: 100%;
    height: 100%;
    min-width: 288px;
    min-height: 320px;
}

.header-table{
    border: 1px solid black;
    height: 200px;
    margin-top: 104px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 24px 13px 2px rgba(13,16,37,0.06);
    border-radius: 10px;
}

.table-data{
    display: flex;
}

.table-data span{
    margin-right: 15px;
    background-color: #ffecec;
    height: 55px;
    width: 55px;
    border-radius: 50%;
}

.table-data .icon-behavior{
    background-color: white;
    margin-bottom: 20px;
}
.table-data .icon-behavior i{
    font-size: 55px;
    color: #f53855;
}

.table-data span i{
    color: #f53855;
    font-size: 40px;
    margin-left: 7.5px;
    margin-top: 7.5px;
}

.table-data p{
    font-size: 2rem;
    line-height: 3rem;
    color: #0b132a;
}











footer{
    margin-top: 1000px;
}